<!doctype html>
<title>pytest Plugin Compatibility</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='gumby.css') }}">

<div class="row">
<h1>pytest Plugins Compatibility</h1>

<h2>This page is now retired</h2>

<p>A list of plugins is now available at <a href="https://docs.pytest.org/en/latest/reference/plugin_list.html">https://docs.pytest.org/en/latest/reference/plugin_list.html</a> in the official pytest documentation.</p>

<p>This website was an excellent learning tool and provided a nice list of all pytest plugins available. It implements a non-trivial workflow where we execute jobs on <a href="https://travis-ci.com/">Travis</a> that test each plugin for compatibility against some pytest and Python versions, along with their descriptions (<a href="https://github.com/pytest-dev/plugincompat/blob/master/OVERVIEW.md">more info</a>).</p>

<p>Maintaining the website has a non-zero cost in time, and also things are not perfect, so I decided to just stop maintaining it, given that the new list of plugins in pytest documentation already gives a good overview of the plugin ecosystem (see <a href="https://github.com/pytest-dev/plugincompat/issues/66">#66</a> for more details).</p>

<p>The website will be shut down sometime in the future, but the <a href="https://github.com/pytest-dev/plugincompat">github repository</a> will remain there for reference.</p>

<p>The source code of the website, for those interested, is available at <a href="https://github.com/pytest-dev/plugincompat">github.com/pytest-dev/plugincompat</a>.</p>